@import '../../commonstyles/commoncss';
@import '../../commonstyles/flex';

.header {
  @extend .flex-row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 125px;
  max-width: 1500px;
  margin: 0 auto;
  z-index: 1;
  > .logo {
    background: url('../../img/logo.png');
    height: 80px;
    width: 80px;

  }
  > .brand {
    @extend .flex-row;
    @extend .a-c;
    h1 {
      font-size: 30px;
      color: $brandColor;
    }
    > img {
      height: 100px;
      width: 100px;
      padding: 20px;
    }
  }
}
