@import '../../commonstyles/variables';

.vision {
    height: 100%;
    background: url('./../../img/extras/aim.jpg');
    background-size: cover;
    background-position: 25% 50%;
    background-attachment: fixed;
    padding-top: 125px;

    .visionContent {
        padding-left: 400px;

        > .title {
            font-size: 30px;
            color: $brandColor;
        }
        ul {
            padding-top: 40px;
            font-weight: 400;
            font-size: 20px;
            li {
                padding-bottom: 10px;
                line-height: 25px;

                &:before {
                    content: '→';
                    color: $brandColor;
                }
            }
        }
    }
}
