@import "../../commonstyles/flex";
@import "../../commonstyles/variables";

.home {

  height: 100%;
  background: url('./../../img/extras/book-stack.jpg');
  background-size: cover;
  background-position: 0 70%;
  background-attachment: fixed;
  @extend .flex-col;
  @extend .a-c;
  @extend .j-c;

  .titleWrapper {
    @extend .flex-row;
    @extend .j-c;
    margin-top: -40px;
    flex-grow: 1;
    .title {
      font-size: 50px;
      text-align: center;
      @extend .flex-col;
      @extend .j-c;
      @extend .a-c;
      .first {
        text-shadow: 0 4px 6px #ffffff;
        color: $brandColor;
      }
      .second {
        margin-top: 20px;
        text-shadow: 0 4px 6px #ffffff;
        color: $brandColor;
      }
      .and {
        color: white;
        text-shadow: 0 4px 6px $brandColor;
      }
    }
  }
  .info {
    flex-grow: 0;
    font-size: 26px;
    color: $brandColor;

  }
}


@media only screen and (max-width: 767px) {
  .home {
    background-position: 90% 70%;
  }
}
