@import "../../commonstyles/variables.scss";
@import "../../commonstyles/flex.scss";

.navigation {
    @extend .flex-row;
    @extend .j-fe;

    .navbar {
        padding: 50px;
        display: inline-block;

        a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 18px;
            padding: 12px;
            transition: color ease-in 200ms;

            &:first-child {
                padding-left: 0px;
            }

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover, &.active {
                color: $brandColor;
            }

            &.active {
                span:after {
                    width: 100%;
                }
            }

            span {
                position: relative;
                padding-bottom: 10px;
                font-size: 16px;

                &:after {
                    content: ' ';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    height: 2px;
                    background-color: $brandColor;
                    width: 0;
                }
            }

        }
    }
}

@media only screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}
